{% extends 'base.html' %}

{% block title %}About | My Portfolio{% endblock %}

{% block content %}
<h1>About Me</h1>

<p>
    Hello! My name is Sanjay Saini. I am a motivated <strong>Python Backend Developer (Fresher)</strong> with hands-on experience in building backend features using Python and Django through projects, and I am actively seeking an entry-level opportunity to learn and contribute.
</p>

<p>
    I enjoy working with databases, APIs, authentication systems,
    and backend architecture.
</p>

<p>
    My goal is to build clean, secure, and efficient backend systems.
</p>
{% endblock %}
